<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.grandlabs.ift">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".IftApp"
        android:allowBackup="true"
        android:icon="@mipmap/ift_icon"
        android:roundIcon="@mipmap/ift_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.SignInActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b8d1c46558fa5e66bade11bf332e99283ede28ba" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
    </application>

</manifest>